<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Login to Continue</h2>
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <button type="submit">Login</button>
                <a href="{% url 'signup' %}">Sign Up</a>
                
            </form>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-error">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>
